*{
    margin:0;
    padding:0;
    text-align: center;
}
h1{
    background-color: #081b31;
    color:white;
    height:5rem;
    line-height: 5rem;
}
.choice{
    height:300px;
    width:100px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
   
}
.img{
    height:300px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20rem;
    margin-top: 5rem;
}
.choice:hover{
   cursor:pointer;
   opacity: 0.5;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap:5rem;

}
#user-score,#comp-score{
    font-size: 4rem;
}
#msg{
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    margin-top: 5rem;
    display: inline;
    padding:1rem;
    border-radius: 1rem;
}
.msg-container{
    margin-top: 5rem;
}